$tablet: 992px; // Tablets, some phones in the horizontal position
$mobile: 768px; // Phones L
$mobileSmall: 480px; // Phones S

$mainColor: #5932EA;
$mainBG: #fff;
$fontFamily: 'Poppins, sans-sarif';
$fontSize: 14px;